* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
    color: white;

}

.container-header {
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.lista-header {
    width: 10%;
    list-style: none;
    display: flex;
    align-items: center;
}

.li-header {
    padding-right: 10px;
}

.container-logo {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
}

.font-header {
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;

}

