* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
    color: white;
    margin-bottom: 30px;
}

.container-header {
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
}

.lista-header {
    width: 10%;
    list-style: none;
    display: flex;
    align-items: center;
}

.li-header {
    padding-right: 10px;
}

.container-logo {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
}

.font-header {
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.container-main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(100% / 3 - (40px / 3));
    position: relative;
}

.card img {
    width: 380px;
}

.discount {
    padding: 5px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 110px;
}

.sostenibilità {
    padding: 5px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 110px;
    left: 48px;
}

.sostenibilità-img6 {
    padding: 5px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 110px;
}

.cuore {
    position: absolute;
    top: 8px;
    right: 7px;
    font-size: xx-large;
    background-color: white;
    padding: 2px 10px;
}

.prezzo {
    color: red;
}

